# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.venv/

<!-- settings.toml -->
# Ignore local secrets
.secrets.toml
.env

# Ignore other unnecessary files
.git
.gitignore
Dockerfile
docker-compose.yml