# export DOPPLER_TOKEN="dp.pt.xxxxxxxx"
# docker compose -f backend/docker-compose.yaml up
services:
  podium:
    container_name: podium
    # build: .
    image: ghcr.io/hackclub/podium-backend:latest
    # ports:
      # - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    # volumes:
      # - ./settings.toml:/app/settings.toml:ro
    environment:
      - DOPPLER_TOKEN

# docker run --rm -it -v "$(pwd)/settings.toml:/app/settings.toml:ro" -v "$(pwd)/.secrets.toml:/app/.secrets.toml:ro" -p 8000:8000 podium