@import "tailwindcss";

@import "daydream.css";

@plugin '@tailwindcss/typography';

@plugin "daisyui" {
  themes:
    coffee,
    /* night --prefersdark, */ night,
    /* retro --default, */ retro,
    dracula;
}

@plugin "daisyui/theme" {
  name: "undercity";
  default: false;
  prefersdark: true;
  --color-base-100: #2e2a54;
  --color-base-200: #272239;
  --color-base-300: rgba(86, 76, 173);
  --color-base-content: oklch(100% 0 0);
  --color-primary: #544fff;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: rgb(209, 175, 239);
  --color-secondary-content: oklch(38% 0.176 304.987);
  --color-accent: rgb(245, 131, 228);
  --color-accent-content: oklch(40% 0.153 2.432);
  --color-neutral: #2e2a54;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: rgb(175, 189, 239);
  --color-info-content: oklch(42% 0.199 265.638);
  --color-success: rgb(134, 227, 168);
  --color-success-content: oklch(43% 0.095 166.913);
  --color-warning: oklch(90.5% 0.182 98.111);
  --color-warning-content: oklch(55% 0.163 48.998);
  --color-error: #ff00b8;
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "daydream";
  default: true;
  prefersdark: false;
  --color-base-100: #fef9dc;
  --color-base-200: #fffef2;
  --color-base-300: #d3b180;
  --color-base-content: rgb(139, 69, 19);
  --color-primary: rgb(245, 131, 228);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: rgb(209, 175, 239);
  --color-secondary-content: oklch(38% 0.176 304.987);
  --color-accent: #7cc4f0;
  --color-accent-content: oklch(40% 0.153 2.432);
  --color-neutral: #fef9dc;
  --color-neutral-content: rgb(139, 69, 19);
  --color-info: #c8eefc;
  --color-info-content: #022937;
  --color-success: #cafcdb;
  --color-success-content: #023815;
  --color-warning: #fcfbca;
  --color-warning-content: #2d2d15;
  --color-error: #fee7ea;
  --color-error-content: #540b16;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --font-sans: Phantom Sans, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility hover-link {
  @apply underline rounded-xs transition-colors duration-300 hover:bg-primary hover:text-primary-content underline-offset-2 decoration-accent;
}

@font-face {
  font-family: "Phantom Sans";
  src:
    url("/assets/fonts/Regular.woff") format("woff"),
    url("/assets/fonts/Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src:
    url("/assets/fonts/Italic.woff") format("woff"),
    url("/assets/fonts/Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src:
    url("/assets/fonts/Bold.woff") format("woff"),
    url("/assets/fonts/Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
